.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.content {
  width: 440px;
  max-height: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(21, 21, 21, 0.5);
}

@media (max-width: 576px) {
  .app {
    padding: 14px;
  }
  .content {
    height: 100%;
    padding: 20px;
    row-gap: 20px;
  }
}
